.aqua {
    background-color: aqua;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: darkseagreen;
}

.lisaatilaa{
	margin-top:5em;
	margin-bottom:8em;
	
	
}

.sininen{
	color: blue;
}