body{
  background-color: #282c34;
}

.Nimi{
  grid-area: Nimi;
}

.Kuvaus{
  grid-area: Kuvaus;
}

.Tunnit{
  grid-area: Tunnit;
}

.Luokitus{
  grid-area: Luokitus;
}

.Header{
  display: flex;
  align-items: center;
  background-color: moccasin;
}

.Otsikot{
  display: grid;
  grid-template-areas: "Nimi Kuvaus Tunnit Luokitus";
  grid-template-columns: 1fr 3fr 1fr 1fr;
  padding-left: 2.5rem;
}

.Osio{
  border-style: solid;
  border-color: darkseagreen;
  list-style-type: none;
  display: grid;
  grid-template-areas: "Nimi Kuvaus Tunnit Luokitus";
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.App {
  color: azure;
  max-width: 1000px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
